
<html>

<head>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <h1>Register</h1>

<form action="/register" method="POST">

    <div id="name">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
    </div>

    <div id="email">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
    </div>

    <div id="pwd">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>

    <button type="submit" id="sub">Register</button>

</form>

<a href="/login">Login</a>


<div id="nishant">
    <img src="/images/nishant.jpg" height="300" width="300">
</div>


</body>

</html>