body{
    text-align: center;
    background-color: coral;
}

.contact{
    padding: 3px 10px;
    border:1px solid white;
    background-color: aliceblue;
    box-shadow: 1px 1px 1px 1px lightgrey;
    color:white 
}


.contact .details{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
}

.para{
    color:black;
}